<div>
  <mat-paginator [length]="posts?.length"
              [pageSize]="pageSize"
              [hidePageSize]="true"
              [pageIndex]="pageIndex"
              [showFirstLastButtons]="true"
              (page)="changePage($event)"
              aria-label="Select page">
  </mat-paginator>
</div>
<app-post *ngFor="let post of postsToShow" [post]="post"></app-post>
<div>
  <mat-paginator [length]="posts?.length"
              [pageSize]="pageSize"
              [hidePageSize]="true"
              [pageIndex]="pageIndex"
              [showFirstLastButtons]="true"
              (page)="changePage($event)"
              aria-label="Select page">
  </mat-paginator>
</div>
