<div class="container-fluid col-12">
  <div class="row">
    <h2 class="post-content" [innerHTML]="post.title.rendered| safeHtml"></h2>
  </div>
  <div class="row mt-3 px-4">
    <div [ngClass]="commentsVisible ? 'col-xl-7' : 'col-xl-11'">
      {{ post.date | date }}
      <div class="post-content" [innerHTML]="post.content.rendered | safeHtml"></div>
    </div>
    <div [ngClass]="commentsVisible ? 'col-xl-5' : 'col-xl-1'">
      <button class="clickable" (click)="showHideComments()" mat-button>
        <span *ngIf="!commentsVisible">Show Comments</span>
        <span *ngIf="commentsVisible">Hide Comments</span>
      </button>
      <div *ngIf="commentsVisible">
        <app-comments [postId]="post.id"></app-comments>
      </div>
    </div>
  </div>
</div>
